:root {
    --background: #000;
}

canvas {
    background-color: var(--background);
    border: black, 10px;
    border-style: solid;
    border-radius: 100%;
    float: right;
    margin-right: 20%;
}

form{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#colorVectorA_red{
    color: red;
}

#colorVectorA_blue{
    color: blue;
}



label{
    padding-left: 10px;
    padding-right: 10px;
}